img
{
border-radius: 5%;
width: 200px;
height:180px;
}

h1
{
display:inline;
border-top: 300px;


}
sup
{
    display:inline;
}

header
{
    position: relative;
    /* border:2px solid black;  */
    height:120px;
    left:200px;
    width:1000px;
    
}
#first
{
    
 display: inline;
margin-left: 700px; 
align-items: right;
justify-content: right;

}
.chaticon
{
    position: relative;
    bottom:15px;
    right:15px;
    
}
.usericon
{
   position:relative;
   bottom:2px 
}
span
{
position: relative;
bottom:6px;
}
.Name
{
position: relative;
left:4px;
}

.dropdownicon
{

    position:relative;
    bottom:px;
    left:10px;
}
p
{
display:inline;
font-size: 20px;

}
.text
{
    position:relative;
    left:50px;
}
select
{
position: relative;
top: 15px;
right:25px;
border-radius: 10px;
color: grey;
}
#Date
{
    
    position: relative;
    top: 15px;
    right:90px;
    border-radius: 10px;
    color: grey;
}
.text3
{
    left:432px;
    color: grey;
}
#searchbar
{
    position: relative;
    left:800px;
    border-radius: 10px;
    bottom: 5px;
 
}
    

.searchicon
{

position: relative;
left:770px;
border-color: grey;
border-radius: 9px;
bottom: px;

}
  #mainbody 
{
    position: relative;
    left:200px;
    right:200px;
    height:80%;
    width:1000px; 
    background-color: whitesmoke;
    bottom:64px;
    
} 



.card
{ 
    display: inline-block;
    position:relative;
    left:30px;
    
    right:20px;
    width:20%;
    margin:50px;
   
    
    
    box-shadow: 2px 2px 10px silver;
    border-radius: 10px;
    padding: 5px 5px 0px 5px;
    

}
.heading
{
    display: block;
    position: relative;
    left:20px;
    top:30px;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: black;
    display: inline;
    position: relative;
    left:3px;
    bottom:15px;
    font-size: small;
}


.lowerdate
{
    position: relative;
    font-size: 10px;
    left:30px;
    bottom:7px;
    color:gray;

}

.heart
{
    display: flex;
    position:relative;
     left:100px;
    bottom:35px;
    color: gray; 
   
}
 .heartlikes
{   
    display: inline;
    position: relative;
    bottom:2px;
    
} 

 .commenticon
{
    display: flex;
    position: relative;
    left:150px;
    bottom:55px;
    color:grey;

} 

footer
{
  
  position: relative; 
  bottom: 64px;
   height:300px;
  background-color: white;
  border-color:2px solid black;
  
}

#fdiv0
{
    display: flex;
    justify-content:space-evenly;
    position: relative;
    left: 200px;
    height: 200px;
    width: 1000px;
    
  
  
}
#fdiv1
{
  position: relative;
  height: 200px;
  width:300px;
}
#fdiv2
{
  position: relative;
  height: 200px;
  width:200px;
}
li{
    list-style: none;
}
#fdiv3
{
   position: relative;
   height: 200px;
}
#fdiv4
{ 
  position: relative;
  height: 200px;
  margin-left: 20px;
 }
.footericon
{
    margin-left: 20px;
}

#hr2
{
    position: relative;
    right: 25px;
    width:1000px;
}
.vl 
{
      display: inline; 
     position: relative; 
     border-left: 1px solid grey;
     left: 10px;
     top:4px;
     
   
}